.container {
 width: 100vw;
height: 100vh;
background:whitesmoke;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: solid gray;
}

.l {
    text-align: start;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 9rem;
    padding-top: 22px;    
}
.contas {
    font-size: 20px;
    text-align: start;
    cursor: pointer;
    color: blue;
    padding-left: 20px;
}

.log {
    font-style:italic;
}
.foto {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-top: 6px;
    padding-bottom: 2px;
}
.gr {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-left: 10px;
    padding-top:20px;
}